form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: fit-content;
    margin: 30px auto 30px;
    padding: 50px 50px 20px;
    border: 2px solid black;
}

ul {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    max-width: 360px;
    margin: 30px auto 30px;
    padding: 20px 50px 10px 0;
    border-bottom: 2px solid black;
    list-style: none;
}

li {
    margin-bottom: 10px;
}

label {
    margin-bottom: 30px;
    font-size: 20px;
}

button {
    padding: 5px 20px;
    margin: 0 auto;
    background-color: rgba(19, 16, 16, 0.854);
    color: white;
    border: none;
    cursor: pointer;
}